@model SAMS_UI.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create Dashboard";
}

<section class="bg-white dark:bg-white">
    <!-- Header and Back link -->
    <div class="flex items-center mb-8 pb-4 gap-3">
        <a asp-controller="Backend" asp-action="Index" class="text-gray-400 border border-gray-400 dark:text-black hover:text-matisse-600 transition-colors">
            <svg class="w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 19-7-7 7-7" />
            </svg>
        </a>
        <h3 class="text-l font-nunito-sans text-matisse-600 dark:text-matisse-900">CREATE DASHBOARD</h3>
    </div>

    <!-- Form -->
    <form asp-action="Create" id="asp-create-form" method="post" class="space-y-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm"></div>

        <div>
            <label asp-for="userName" class="block mb-2 text-sm font-medium text-masala-800 dark:text-matisse-900">DASHBOARD NAME</label>
            <input asp-for="userName"
                   class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-matisse-600 focus:border-matisse-600 block p-2.5 dark:bg-matisse-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black"
                   placeholder="Test Application" required />
            <span asp-validation-for="userName" class="text-red-500 text-sm"></span>
        </div>

        <div>
            <label asp-for="Description" class="block mb-2 text-sm font-medium text-masala-800 dark:text-matisse-900">DASHBOARD DESCRIPTION</label>
            <textarea asp-for="Description"
                      rows="4"
                      class="w-96 p-2.5 text-sm text-gray-900 bg-gray-50 border border-gray-300 focus:ring-matisse-600 focus:border-matisse-600 dark:bg-matisse-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black"
                      placeholder="Short description of the app..."></textarea>
            <span asp-validation-for="Description" class="text-red-500 text-sm"></span>
        </div>

        <!-- Submit -->
        <div class="flex justify-start gap-4">
            <!-- Trigger Modal -->
            <button type="button"
                    data-modal-target="submit-confirmation-modal"
                    data-modal-toggle="submit-confirmation-modal"
                    class="text-white bg-blue-950 hover:bg-matisse-800 focus:ring-4 focus:outline-none focus:ring-matisse-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-matisse-700 dark:hover:bg-matisse-700 dark:focus:ring-blue-800">
                Submit
            </button>

            <!-- Modal -->
            <div id="submit-confirmation-modal" tabindex="-1"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Close Button -->
                        <button type="button"
                                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="submit-confirmation-modal">
                            <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>

                        <!-- Modal Content -->
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto text-mexican-red-700 w-12 h-12 dark:text-gray-200" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                Are you sure you want to submit this form?
                            </h3>

                            <!-- Actual Submit -->
                            <button type="submit"
                                    form="asp-create-form"
                                    class="text-white bg-green-600 hover:bg-matisse-800 focus:ring-4 focus:outline-none focus:ring-matisse-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    data-modal-hide="submit-confirmation-modal">
                                Yes, Submit
                            </button>

                            <!-- Cancel -->
                            <button type="button"
                                    class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                    data-modal-hide="submit-confirmation-modal">
                                No, Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>