<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Secure Access</title>
    <link href="~/css/output.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()
</body>
</html>
